@media screen and (max-width: 980px){
    .menu-toggler{
      display: block;
    }
  
    .navbar-menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #2a2f37;
      top: 0;
      right: -100%;
      max-width: 400px;
      padding: 80px 50px;
      transition: .3s linear;
    }
  
    .navbar-menu a{
      display: block;
      font-size: 25px;
      margin: 30px 0;
    }
  
    .sticky .navbar-menu{
      background-color: #2a2f37;
    }
    
    .navbar-menu.active{
      right: 0;
    }
  
    .menu-toggler.active span:nth-child(1){
      transform: rotate(-45deg);
      top: 4px;
    }
  
    .menu-toggler.active span:nth-child(2){
      opacity: 0;
    }
  
    .menu-toggler.active span:nth-child(3){
      transform: rotate(45deg);
      bottom: 14px;
    }
  }

  @media (max-width: 600px) {
	.button {
		font-size: 1rem;
	}
}

@media (min-width: 600px) {
	.home-hero {
		height: 100vh;
		padding-top: 30vh;
	}
}

@media(max-width:600px){
    .name1{
        font-size: 1.8rem;
    }
    .name2{
        font-size:1.2rem;
    }
    .title-sec{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px){
    .inner-width{
      padding: 0 20px;
      width: 100%;
    }
  
    .skill{
      width: 100%;
    }
  }

  @media screen and (max-width: 600px){
    .inner-width{
      padding: 0 20px;
    }
    .service{
      width: 100%;
    }
  
  }

  @media screen and (max-width:500px){
    .work-container{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: auto;
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column:span 1;
    }
  }
  
  @media (max-width: 600px) {
    .wrapper{
      margin: 30px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
  }  
  @keyframes move-down{
  
    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
  }

  @media (max-width: 950px) {
    .contact-container{
      width: 100%;
      padding: 80px 40px 40px 35px ;
    }
    .contact-container .content .right-side{
     width: 100%;
     margin-left: 30px;
  }
  }
  @media (max-width: 820px) {
    .contact-container{
      margin: auto;
      height: 100%;
    }
    .contact-container .content{
      flex-direction: column-reverse;
    }
   .contact-container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .contact-container .content .left-side::before{
     display: none;
   }
   .contact-container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }